extends ../base.pug

block content 
    video(src="/" + video.fileUrl, controls)
    div 
        each hashtag in video.hashtags
                a(href=`/results?search_query=${hashtag}`)=hashtag
        p=video.title
        small=video.createdAt
    hr
    div 
        a(href=`/users/${video.owner._id}`)=video.owner.username
        p=video.description
    if String(video.owner._id) === String (loggedInUser._id) 
        a(href=`${video.id}/edit`) Edit Video &rarr;
        br
        a(href=`${video.id}/delete`) Delete Video &rarr;