extends ../base.pug

block content
    
    form(method="POST", enctype="multipart/form-data").edit-profile__form
        if loggedInUser.avatarUrl.includes("github")
            img.avatar(src=loggedInUser.avatarUrl)
        else
            img.avatar(src=loggedInUser.avatarUrl)
        lable(for="avatar") Change Avatar
        input(type="file", id="avatar", name="avatar", accept="image/*")
        input(type="text", name="username", placeholder="Username", value=loggedInUser.username, required) 
        input(type="email", name="email", placeholder="Email", value=loggedInUser.email, required) 
        input(type="text", name="name", placeholder="Name", value=loggedInUser.name, required)
        input(type="submit", value="Update Changes")
        if !loggedInUser.socialOnly
            div.edit-profile__password
                a(href="change-password")  Change Password &#128274;  